<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="formulario_repetido">
            <form th:action="@{''}" th:object="${curso}" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="mb-2">
                <label for="titulo">Título</label>
                <input
                        id="titulo"
                        type="text"
                        placeholder="Título"
                        th:field="*{titulo}"
                        class="form-control"
                        th:errorclass="is-invalid">

                <div
                        th:errors="*{titulo}"
                        th:if="${#fields.hasErrors('titulo')}"
                        class="invalid-feedback"></div>
            </div>

            <div class="mb-2">
                <label for="descripcion">Descripción</label>
                <textarea
                        id="descripcion"
                        placeholder="Descripción"
                        rows="3"
                        th:field="*{descripcion}"
                        class="form-control"
                        th:errorclass="is-invalid"></textarea>

                <div
                        th:errors="*{descripcion}"
                        th:if="${#fields.hasErrors('descripcion')}"
                        class="invalid-feedback"></div>
            </div>

            <div class="mb-2">
                <label for="precio">Precio</label>
                <input
                        id="precio"
                        type="number"
                        placeholder="Precio" step="0.01"
                        th:field="*{precio}"
                        th:errorclass="is-invalid"
                        class="form-control">

                <div
                        th:errors="*{precio}"
                        th:if="${#fields.hasErrors('precio')}"
                        class="invalid-feedback"></div>
            </div>

            <div class="mb-2">
                <label for="imagen">Imagen</label>
                <input
                        id="imagen"
                        type="file"
                        accept="image/*"
                        th:field="*{imagen}"
                        th:errorclass="is-invalid"
                        class="form-control">

                <div
                        th:errors="*{imagen}"
                        th:if="${#fields.hasErrors('imagen')}"
                        class="invalid-feedback"></div>
            </div>

            <div class="text-end mt-3">
                <a href="/admin/cursos" class="btn btn-light">Cancelar</a>
                <button class="btn btn-primary">Guardar</button>
            </div>

            </form>
        </div>
    </body>
</html>