<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar curso</title>
</head>
<body>

<h1>Editar curso</h1>

<form th:action="@{''}" th:object="${curso}" method="post" enctype="multipart/form-data">

    <div>
        <label for="titulo">Título</label>
        <input id="titulo" type="text" placeholder="Título" th:field="*{titulo}">
    </div>

    <div>
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" placeholder="Descripción" rows="3" th:field="*{descripcion}"></textarea>
    </div>

    <div>
        <label for="precio">Precio</label>
        <input id="precio" type="number" placeholder="Precio" step="0.01" th:field="*{precio}">
    </div>

    <div>
        <label for="imagen">Imagen: [[*{rutaImagen}]]</label>
        <input id="imagen" type="file" accept="image/*" th:field="*{imagen}">
    </div>

    <button>Guardar</button>

</form>

</body>
</html>